.MeetingHeader-header {
  overflow: hidden;
}

.MeetingHeader-title {
  font-size: 18px;
  margin: 12px 0;
  position: relative;
}

.MeetingHeader-preview {
  background: url(./MeetingHeaderBackground.png) top center repeat;
  background-position: center bottom;
  box-shadow: 0 -70px 150px rgba(0,0,0,0.6) inset;
  border-bottom: 1px solid #000;
}

.MeetingHeader-content {
  display: table;
  height: 300px;
  width: 100%;
  color: white;
  text-shadow: black 0px 1px 2px;
}

.MeetingHeader-content-inner {
  display: table-cell;
  vertical-align: bottom;
  padding: 50px 0 10px;
}

.MeetingHeader-join {
  padding: 18px 0;
}