.BeforeMeeting {
  color: white;
  background-color: #262626;
  height: 100%;
}

.BeforeMeeting-layout {
  position: absolute;
  top: 35px;
  bottom: 20px;
  right: 0;
  left: 0;
}

.BeforeMeeting-layout .container,
.BeforeMeeting-layout .row,
.BeforeMeeting-agenda,
.BeforeMeeting-description {
  height: 100%;
}

.BeforeMeeting-description {
  border-left: 1px solid #444;
  display: flex;
  flex-direction: column;
}

.BeforeMeeting-description-header {
  /**
   * XXX The z-index ensures that the TileGrid header doesn't clobber this,
   * but since the z-index causes us to clobber the close button in the TileGrid
   * header, we need to add a margin so that the close button is clickable.
   *
   * Yeah, this kind of sucks.
   */
  z-index: 999;
  margin-right: 40px;
}

.BeforeMeeting-description-content {
  flex: 1;
  display: flex;
  align-items: center;
}

.BeforeMeeting-description-title {
  font-family: Oswald;
  margin-top: 30px;
  margin-bottom: 5px;
}

.BeforeMeeting-description-footer {
  border-top: 1px solid #333;
}