.DuringMeeting {
  display: flex;
  height: 100%;
  flex-diration: row;
  align-items: center;
  background: #222;
}

.DuringMeeting-video {
  width: 100%;
  flex: 1;
}

.DuringMeeting-header {
  position: absolute;
  left: 0;
  top: 35px;
  right: 0;
}

.DuringMeeting-header-buttons {
  /**
   * XXX The z-index ensures that the TileGrid header doesn't clobber this,
   * but since the z-index causes us to clobber the close button in the TileGrid
   * header, we need to position absolute so the close button is clickable.
   *
   * Yeah, this kind of sucks.
   */
  z-index: 999;
  position: absolute;
}

.DuringMeeting-footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.5));
}

.DuringMeeting-footer-host {
  padding: 20px 0;
  font-family: Oswald;
  color: white;
  text-shadow: 0 1px 1px black;
}

.DuringMeeting-footer-host .label {
  text-transform: uppercase;
  background: #262626;
  font-size: 10px;
  vertical-align: middle;
  margin: 0 10px;
}