.MeetingBeforeView {
  color: white;
  background-color: #333;
}

.MeetingBeforeView,
.MeetingBeforeView .container,
.MeetingBeforeView .row,
.MeetingBeforeView .col-xs-8,
.MeetingBeforeView .col-xs-4 {
  height: 100%;
}

.MeetingBeforeView-description {
  display: flex;
  align-items: center;
}