.MeetingBeforeView {
  color: white;
  background-color: #262626;
  height: 100%;
}

.MeetingBeforeView-layout {
  position: absolute;
  top: 30px;
  bottom: 30px;
  right: 0;
  left: 0;
}

.MeetingBeforeView-layout .container,
.MeetingBeforeView-layout .row,
.MeetingBeforeView-layout .col-xs-8,
.MeetingBeforeView-layout .col-xs-4 {
  height: 100%;
}

.MeetingBeforeView-description {
  border-left: 1px solid #444;
  display: flex;
  align-items: center;
}