.DebriefHeader-live {
  margin: 0 12px;
  position: relative;
  top: -0.1em;
  text-shadow: rgba(0,0,0,0.5) 0px 1px 1px;
  box-shadow: rgba(0,0,0,0.5) 0px 1px 2px;
}

.DebriefHeader-header {
  overflow: hidden;
}

.DebriefHeader-title {
  font-size: 18px;
  margin: 12px 0;
  position: relative;
}

.DebriefHeader-preview {
  background-image: url(./IMG_0467.jpg);
  background-size: cover;
  background-position: center bottom;
  box-shadow: 0 -70px 150px rgba(0,0,0,0.8) inset;
  border-bottom: 1px solid #000;
}

.DebriefHeader-content {
  display: table;
  height: 300px;
  width: 100%;
  color: white;
  text-shadow: black 0px 1px 2px;
}

.DebriefHeader-content-inner {
  display: table-cell;
  vertical-align: bottom;
  padding: 50px 0 10px;
}

.DebriefHeader-join {
  padding: 18px 0;
}

.DebriefHeader-join .btn {
  text-shadow: rgba(0,0,0,0.4) 0px 1px 2px;
  box-shadow: rgba(0,0,0,0.5) 0px 1px 2px;
}

.JoinButton-major {
  font-weight: bold;
  padding-right: 10px;
  border-right: 1px solid #2D6E2D;
}

.JoinButton-cost {
  padding-left: 10px;
}