.BroadcastPreview {
  position: relative;
  background: #666;
  border-radius: 4px;
}

.BroadcastPreview-video {
  width: 100%;
  height: auto;
  vertical-align: bottom;
  border-radius: 4px;
}

.BroadcastPreview-label {
  position: absolute;
  top: 6px;
  left: 6px;
}