.OverviewHost {
  border-color: #232323;
}

.OverviewHost > .panel-heading {
  color: #fff;
  background: #333;
  border-color: #232323;
}

.OverviewHost > .panel-body > p:last-child {
  margin-bottom: 0;
}

.btn-attend {
  float: right;
}

.buttons {
  padding: 30px;
}