.HeaderExplain {
  padding: 40px 0 40px;
  border-bottom: 1px solid #eee;
}

.HeaderExplain-heading {
  font-weight: 300;
  font-size: 32px;
  margin: 0;
}

.HeaderExplain-button {
  font-size: 28px;
  margin: 5px 0;
}

.HeaderExplain-button .glyphicon {
  font-size: 0.5em;
  vertical-align: middle;
  margin-bottom: 0.5em;
}