.Header {
  padding-top: 50px;
}

.Header .navbar, 
.Header .navbar.navbar-default .navbar-nav > li > a,
.Header .navbar.navbar-default .navbar-brand,
.Header .navbar.navbar-default .navbar-text {
  color: white;
  text-shadow: black 0px 1px 1px;
}

.Header .navbar {
  border-bottom-color: #000;
  background-color: #222;
}

.Header .navbar-btn {
  border-color: transparent;
  box-shadow: black 0px 1px 1px;
}

.Header .navbar-toggle {
  border-color: #666;
}

.Header .navbar.navbar-default .navbar-collapse {
  border-color: transparent;
}

.Header-create {
  overflow: hidden;
}

.Header-create-button {
  position: relative;
}
