.TileGrid {
  margin: 30px 0;
}

.TileGrid-transition {
  margin: 15px 0;
  overflow: hidden;
}

.TileGrid-transition-enter,
.TileGrid-transition-leave {
  transition: height 0.2s;
}

.TileGrid-transition-enter:not(.TileGrid-transition-enter-active),
.TileGrid-transition-leave.TileGrid-transition-leave-active {
  height: 0px !important;
}