.Tile {
  color: white;
  height: 200px;
  position: relative;
  border-radius: 6px;
}

.Tile-schedule {
  position: absolute;
  top: 15px;
  left: 15px;
}

.Tile-main {
  position: absolute;
  bottom: 15px;
  left: 15px;
  right: 15px;
}

.Tile-main-title {
  font-family: Oswald;
  font-size: 30px;
  margin: 5px 0;
}

.Tile-main-description {
  /* TODO(jwilde): Move over to a more intelligent way of managing overflow so
                   we can display at least two lines of the description. */
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  margin: 0;
}