.TileGridDetail {
  position: relative;
}

.TileGridDetail-header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}

.TileGridDetail-header a,
.TileGridDetail-header a:hover {
  color: white;
}

.TileGridDetail-header-controls {
  padding: 18px 0;
  float: right;
  z-index: 1000;
}