.TileGridDetail {
  position: relative;
  margin: 20px 0;
}

.TileGridDetail-header {
  padding: 15px 0;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}

.TileGridDetail-header a,
.TileGridDetail-header a:hover {
  color: white;
}